@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 100% 95%;
    --foreground: 224 71% 4%;
    --card: 51 100% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 51 100% 95%;
    --popover-foreground: 224 71% 4%;
    --primary: 0 72% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 51 60% 90%;
    --muted-foreground: 51 30% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 51 60% 85%;
    --input: 51 60% 85%;
    --ring: 0 72% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 51 100% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 51 100% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 51 100% 95%;
    --primary: 0 72% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 0 72% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
